<mat-toolbar color="primary" class="mat-elevation-z3">
  <mat-icon>account_circle</mat-icon>
  <span>My Portfolio</span>
</mat-toolbar>

<mat-tab-group (selectedTabChange)="onTabSelect($event)">
  <mat-tab label="Introduction"> 
    <div class="overview">
      <img src="/assets/img/avatar2.png" alt="">
      <div class="speech-bubble">
        <h1>Hi! I'm Scott</h1>
        <h3>
          I'm a software engineer.
          <br>
          Check out the tabs above to see my experience.
        </h3>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="GitHub"> 
    <h2 class="mat-elevation-z3">My Open Source Projects</h2>
    <div class="container">
      <mat-card class="card" *ngFor="let repo of repos" (click)="onSelect(repo, $event)">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{repo.name}}</mat-card-title>
          <mat-card-subtitle>{{repo.description || repo.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Language: <span>{{repo.language}}</span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Resume"> 
    <h2 class="mat-elevation-z3">My Professional Experience</h2>
    <div class="container">
      <mat-card class="card" (click)="onLinkedInSelect()">
        <mat-card-header>
          <div mat-card-avatar class="linked-in"></div>
          <mat-card-title>LinkedIn</mat-card-title>
          <mat-card-subtitle>Scott Lepper</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            My LinkedIn profile
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Location"> 
    <div id="map" class="map"></div>
  </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>
